.Customer_Fullpage {
    margin-left: 15vw;
    width: 90vw;
    height: 100vh;
    background-color: #e5e5e5;
}
.Customer_Search {
    width: 100%;
    height: 15vh;
    position: fixed;
    z-index: 200;
}
.Customer_Saerch_fixed {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-shadow: 1px -4px 9px 3px #333;
    background-color: #f2f2f2;
}
.Customer_Search1 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    padding-right: 20%;
}
.Customer_Search2 {
    display: flex;
    align-items: center;
    width: 20%;
    height: 100%;
}
.Customer_Search2_btn {
    width: 30%;
    height: 30px;
    border-radius: 4px;
    background-color: #b2b2ff;
}
.Customer_Search2_btn:hover {
    background-color: #4c4cff;
}
.Customer_Sect2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 18vh;
    background-color: #e5e5e5;
}
.Customer_Sect2_1 {
    width: 90%;
    height: 90%;
}
.Customer_HeadTable {
    display: flex;
    width: 100%;
    height: 35px;
    color: #FFF;
    background-color: #005ae8;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.Customer_HeadTable1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20%;
}
.Customer_HeadTable3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 40%;
}
.Customer_HeadTable4 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 8%;
}
.Customer_HeadTable5 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 32%;
}
.Customer_Body {
    display: flex;
    width: 100%;
    height: 45px;
    background-color: #fff;
}
.Customer_Body:hover {
    background-color: #c2cbda;
}
.Customer_Body1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20%;
    border-bottom-color: #e5e5e5;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #e5e5e5;
    border-right-width: 1px;
    border-right-style: solid;
}
.Customer_Body2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20%;
    border-bottom-color: #e5e5e5;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #e5e5e5;
    border-right-width: 1px;
    border-right-style: solid;
}
.Customer_Body3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 40%;
    border-bottom-color: #e5e5e5;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #e5e5e5;
    border-right-width: 1px;
    border-right-style: solid;
}
.Customer_Body4 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 8%;
    border-bottom-color: #e5e5e5;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #e5e5e5;
    border-right-width: 1px;
    border-right-style: solid;
}
.Customer_Body5 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 32%;
    border-bottom-color: #e5e5e5;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
