.Login_FullPage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
}
.Login_Body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    height: 50%;
    background-color: white;
    border-width: 1px;
    border-radius: 5px;
}
.Login_Body_Head {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
}
.Login_Body_ID {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
}
.Login_Body_ID_head {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
}
.Login_Body_ID_text {
    width: 50%;
    height: 100%;
}
.Login_Body_Password { 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
}
.Login_Body_Password_head {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
}
.Login_Body_Password_text {
    width: 50%;
    height: 100%;
}
.Login_Body_Submit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 20%;
}