.Modal_Logout_Fullpage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.Modal_Logout_Show {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30vw;
    height: 20vh;
    background-color: #fff;
    border-radius: 5px;
}
.Modal_Logout_sect1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 10vh;
    background-color: blue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}
.Modal_Logout_sect2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 10vh;
    font-size: 20px;
    font-weight: 500;
}
.Modal_Logout_sect3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 10vh;
}
.Modal_Logout_sect3_btnYes {
    width: 15vw;
    height: 10vh;
    background-color: blue;
    color: #fff;
    border: 0;
    border-bottom-left-radius: 5px;
}
.Modal_Logout_sect3_btnYes:hover {
    background-color: #fff;
    color: blue;
    border-width: 2px;
    border-style: solid;
    border-color: blue;
}
.Modal_Logout_sect3_btnNo {
    width: 15vw;
    height: 10vh;
    background-color: crimson;
    color: #fff;
    border: 0;
    border-bottom-right-radius: 5px;
}
.Modal_Logout_sect3_btnNo:hover {
    background-color: #fff;
    color: crimson;
    border-width: 2px;
    border-style: solid;
    border-color: crimson;
}