.ModalProduct_FullPage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.ModalProduct_show {
    width: 60vw;
    height: 60vh;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 10px 10px 5px #2d0300;
    font-size: 12px;
}
.ModalProduct_Head {
    display: flex;
    width: 100%;
    height: 100%;
}
.ModalProduct_Head1 {
    width: 50%;
}
.ModalProduct_Image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.ModalProduct_Image img {
    max-width: 100%;
    height: 100%;   
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.ModalProduct_Head2 {
    width: 50%;
    height: 100%;
}
.ModalProduct_Head2_1 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 6vh;
    font-size: 23px;
}
.ModalProduct_Head2_2 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 20%;
    display: flex;
    font-size: 30px;
    font-weight: 700;
}
.ModalProduct_Head2_3 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 15%;
    display: flex;    
    font-size: 12px;
}
.ModalProduct_Head2_4 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 6vh;
    display: flex;
}
.Body_text_pro4 {
    font-size: 15px;
    margin-left: 5px;
}
.ModalProduct_Head2_5 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 6vh;
    display: flex;
}
.ModalProduct_Head2_6 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 6vh;
    display: flex;
}
.ModalProduct_Head2_7 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 6vh;
    display: flex;
}
.Modal_btnClose {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
    margin-top: 10px;
}