.ModalOrder_FullPage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.ModalOrder_show {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60vw;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #2d0300;
}
.ModalOrder_Head {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
    background-color: #005ae8;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
}
.ModalOrder_Head1 {
    display: flex;
    align-items: center;
    width: 10%;
    height: 100%;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #dbc3c3;
}
.ModalOrder_Head2 {
    display: flex;
    align-items: center;
    width: 25%;
    height: 100%;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #dbc3c3;
}
.ModalOrder_Head3 {
    display: flex;
    align-items: center;
    width: 35%;
    height: 100%;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #dbc3c3;
}
.ModalOrder_Head4 {
    display: flex;
    align-items: center;
    width: 10%;
    height: 100%;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #dbc3c3;
}
.ModalOrder_Head5 {
    display: flex;
    align-items: center;
    width: 10%;
    height: 100%;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #dbc3c3;
}
.ModalOrder_Head6 {
    display: flex;
    align-items: center;
    width: 10%;
    height: 100%;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #dbc3c3;
}
.ModalOrder_Body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
    font-size: 12px;
    color: #333;
}
.ModalOrder_Body:hover {
    background-color: #b7e5e5;
}
.ModalOrder_Body1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #dbc3c3;
}
.ModalOrder_Body1 img {
    max-width: 100%;
    height: 100%;
}
.ModalOrder_Body2 {
    display: flex;
    align-items: center;
    width: 25%;
    height: 100%;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #dbc3c3;
    overflow: hidden;
}
.text_wrap2 {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.ModalOrder_Body3 {
    display: flex;
    align-items: center;
    width: 35%;
    height: 100%;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #dbc3c3;
    overflow: hidden;
}
.text_wrap3 {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 5%;
}
.ModalOrder_Body4 {
    display: flex;
    align-items: center;
    width: 10%;
    height: 100%;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #dbc3c3;
}
.ModalOrder_Body5 {
    display: flex;
    align-items: center;
    width: 10%;
    height: 100%;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #dbc3c3;
}
.ModalOrder_Body6 {
    display: flex;
    align-items: center;
    width: 10%;
    height: 100%;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #dbc3c3;
}
.Modal_btnClose {
    width: 100%;
    border-radius: 0;
}