.Nav_left {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    width: 15vw;
    height: 100vh;
    background-color: #005ae8;
    color: #fff;
}
.MemuBar {
    width: 15vw;
}
.LogoBar {
    width: 100%;
    height: 10vh;
    justify-content: center;
    align-items: center;
}
.RowBar {
    margin-top: 34px;
    width: 100%;
    padding-left: 20%;
    float: right;
}
.Rowbar_div {
    width: 100%;
    height: 100%;
}
.RowBar_text {
    width: 100%;
    height: 5vw;
    font-size: 14px;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Nav_Link {
    border: none;
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
}
.Nav_Link:hover {
    color: #fff;
    font-weight: 500;
}
.Nav_Linkactive {
    border: none;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
    background-color: #4c83db;
    color: #fff;
}