.OrderAll_FullPage {
    margin-left: 15vw;
    width: 90vw;
    height: 100vh;
    background-color: #e5e5e5;
}
.Orderall_Search {
    width: 100%;
    height: 15vh;
    position: fixed;
    z-index: 200;
}
.Orderall_Search_Fixed {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-shadow: 1px -4px 9px 3px #333;
    background-color: #f2f2f2;
}
.Orderall_Search1 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    padding-right: 20%;
}
.OrderAll_sect2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 18vh;
    background-color: #e5e5e5;
}
.OrderAll_sect2_1 {
    width: 90%;
    height: 90%;
}
.OrderAll_Header {
    display: flex;
    width: 100%;
    height: 35px;
    color: #FFF;
    background-color: #005ae8;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.OrderAll_Header1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
}
.OrderAll_Header2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
}
.OrderAll_Header3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
}
.OrderAll_Header4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 100%;
}
.OrderAll_Header5 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
}
.OrderAll_Header6 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
}
.OrderAll_Body {
    display: flex;
    width: 100%;
    height: 45px;
    background-color: #fff;
}
.OrderAll_Body:hover {
    background-color: #c2cbda;
}
.OrderAll_Body1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
    border-left-color: #e5e5e5;
    border-left-width: 1px;
    border-left-style: solid;
    border-bottom-color: #e5e5e5;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #e5e5e5;
    border-right-width: 1px;
    border-right-style: solid;
}
.OrderAll_Body2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
    border-bottom-color: #e5e5e5;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #e5e5e5;
    border-right-width: 1px;
    border-right-style: solid;
}
.OrderAll_Body3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
    border-bottom-color: #e5e5e5;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #e5e5e5;
    border-right-width: 1px;
    border-right-style: solid;
}
.OrderAll_Body4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 100%;
    border-bottom-color: #e5e5e5;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #e5e5e5;
    border-right-width: 1px;
    border-right-style: solid;
}
.OrderAll_Body5 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
    border-bottom-color: #e5e5e5;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #e5e5e5;
    border-right-width: 1px;
    border-right-style: solid;
}
.OrderAll_Body6 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
    border-bottom-color: #e5e5e5;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #e5e5e5;
    border-right-width: 1px;
    border-right-style: solid;
}
.OrderAll_Body6_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 55%;
    color: #005ae8;
    font-size: 11px;
    font-weight: bold;
    background-color: #FFF;
    border-color: #005ae8;
    border-width: 1px;
    border-radius: 4px;
}
.OrderAll_Body6_btn:hover {
    background-color: #005ae8;
    color:#FFF;
}

.MuiButton-containedPrimary {
    background-color: #005ae8 !important;
}