.pic {
    margin-top: 20px;
    display: flex;
    width: 100vw;
    height: 60vh;
    align-items: center;
    justify-content: center;  

}
.Pic_Div {
    display: flex;
    width: 70%;
    height: 100%; 
    background-color: #fff68f;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    border-radius: 15px;
}
.pic_slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    height: 100%;
}
.pic_slide_text1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
}
.pic_slide_text2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
}
.Pic_Div_01 {
    display: flex;
    width: 30%;
    height: 100%;  
    align-items: center;
    justify-content: center;
}
.Pic_Div_01 img {
    height: 100%;
    width: 700%;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    border-radius: 15px;
}

