.Product_FullPage {
    margin-left: 15vw;
    width: 90vw;
    height: 100vh;
    background-color: #e5e5e5;
}
.Product_Search {
    width: 100%;
    height: 15vh;
    position: fixed;
    z-index: 200;
}
.Product_Search_Fixed {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-shadow: 1px -4px 9px 3px #333;
    background-color: #f2f2f2;
}
.Product_Search1 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    padding-right: 20%;
}
.Product_Show {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 18vh;
    background-color: #e5e5e5;
}
.Product_show_all {
    width: 90%;
    height: 90%;
}
.Product_Head {
    display: flex;
    width: 100%;
    height: 35px;
    color: #FFF;
    background-color: #005ae8;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.Product_Head1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    height: 100%;
}
.Product_Head3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
}
.Product_Head5 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 100%;
}
.Product_Head6 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 100%;
}
.Product_Head7 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 100%;
}
.Product_Head8 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 100%;
}
.Product_Head9 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 100%;
}
.Product_Body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 45px;
    background-color: #fff;
}
.Product_Body:hover {
    background-color: #c2cbda;
}
.Product_Body1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    height: 100%;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #e5e5e5;   
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #e5e5e5;
    overflow: hidden;
}
.Product_Body2 img {
    max-width: 90%;
    height: 90%;
}
.Product_Body3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #e5e5e5;   
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #e5e5e5;
    overflow: hidden;
}
.Product_Body5 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 100%;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #e5e5e5;   
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #e5e5e5;
    overflow: hidden;
}
.Product_Body6 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 100%;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #e5e5e5;   
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #e5e5e5;
    overflow: hidden;
}
.Product_Body7 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 100%;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #e5e5e5;   
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #e5e5e5;
    overflow: hidden;
}
.Product_Body8 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 100%;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #e5e5e5;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #e5e5e5;   
}
.Product_Body9 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 100%;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #e5e5e5;
}
.text_overflow {
    padding-left: 2%;
    padding-right: 2%;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}