.App {
  display: flex;
  text-align: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
/* .App_Header_bar1 {
  width: 10vw;
  height: 100vh;
} */
/* .App_Header_bar2 {
  width: 90vw;
  height: 100vh;
} */
/* .App_Header_Nav {
  width: 10%;
  height: 100%;
} */
/* .App_Body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #e5e5e5;
}
.App_Body_show {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  width: 100%;
  height: 100%;
} */