.Header_text_L {
    font-size: 40px;
    font-weight: bold;
}
.Nav_text {
    color: #fff;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Body_text {
    font-size: 13px;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Body_text_head {
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.Global_Link {
    text-decoration: none;
    color: black;
}
.Header_text_M {
    font-size: 45px;
    font-weight: bold;
}
.Header_text_L {
    font-size: 25px;
    margin-top: -14px;
    letter-spacing: 4px;
    font-weight: 300;
}
a.MuiButtonBase-root {
    border-radius: 20px;
}
.Head_Page {
    font-size: 30px;
    color: #333;
    font-weight: 400;
}
.MuiButton-containedSecondary {
    background-color: #fff !important;
    color: #005ae8 !important;
    font-weight: bold !important;
    font-size: 14px !important;
}
.Head_text {
    font-size: 31px;
    color: #495e80;
    font-weight: 800;
    margin-right: 13vw;
    letter-spacing: 10px;
    text-transform: uppercase;
}