.Header_Nav_Top {
    width: 90vw;
    height: 10vh;
}
.Header_Header {
    display: flex;
    position: absolute;
    top: 0;
    z-index: 10;
    width: 90vw;
    height: 10vh;
    position: fixed;
    background-color: #0000FF;
}
.Header_Header_sect1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
}
.Header_Header_sect2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100%;
}
.Header_Header_sect3 {
    width: 20%;
    height: 100%;
}
.Header_btn {
    position: absolute;
    right: 0;
}